.contact {
  text-align: center;
  color: $text-color-light;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contact__link {
  display: block;
  text-decoration: none;
  color: $text-color-light;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  transition: all 0.5s;

  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

.contact__descr {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}
